<!-- <p>Hello! {{ username }}</p>
<button (click) = "setUserName()"> click to change username to full one : </button>
<p>here where to do two way data binding : </p>
<input [(ngModel)] = "email">
<p *ngIf="email == 'hamza'" [ngStyle]="{color : 'green'}">email : {{ email }}</p>
<br>
<button (click) = "incrementCount()">increment the counter</button>
<p> counter now is {{count}}</p>
<p>here is a list of users : </p>
<button (click) = "decrementCount()">click to decrement the counter</button>
<p *ngIf = "count < 6" [ngStyle] = "{color : 'orange'}">{{count}}</p>
<li *ngFor = "let user of users">{{user}}</li> -->
<router-outlet />
